/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
input,
textarea {
  @apply border-2 border-gray-300 rounded-md px-1 w-full;
  @apply mb-2;
}

input:focus,
textarea:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-blue-900 mb-2 text-xl;
}

label {
  @apply text-blue-900;
}

.btn-primary {
  @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td {
  @apply bg-blue-100;
}

table.basic tr td {
  @apply border border-blue-200 p-1;
}

/* Google logo letter colors */
.google-logo .letter {
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
}

.google-logo .letter-0 {
  color: #4285f4; /* Albastru */
}

.google-logo .letter-1 {
  color: #ea4335; /* Roșu */
}

.google-logo .letter-2 {
  color: #fbbc05; /* Galben */
}

.google-logo .letter-3 {
  color: #34a853; /* Verde */
}
